Spring_St/spring-framework-5.2.x/spring-azh-example/src/main/resources/META-INF/spring-customer.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns="http://www.springframework.org/schema/azh"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.springframework.org/schema/azh"
			elementFormDefault="qualified">

	<xsd:element name="azh">
		<xsd:complexType>
			<xsd:attribute name="name" type="xsd:string"/>
			<xsd:attribute name="email" type="xsd:string"/>
			<xsd:attribute name="userPhone" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>
