Spring_St/spring-framework-5.2.x/spring-azh-example/src/main/resources/META-INF/Spring-customElementAzh.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.localhost.com/schema/customElementAzh"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.localhost.com/schema/customElementAzh"
			elementFormDefault="qualified">
	<xsd:complexType name="customElementAzh">
		<xsd:attribute name="id" type="xsd:string"> <!-- 指定作为顶级元素使用的id-->
			<xsd:annotation>
				<xsd:documentation>
					<![CDATA[ The price for a bean. ]]>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="user-name" type="xsd:string"> <!--注意这里指定名称并不是我们定义类的属性，而是在 xml 中使用的属性-->
			<xsd:annotation>
				<xsd:documentation>
					<![CDATA[ The price for a bean. ]]>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="email" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>
					<![CDATA[ The origin of the bean. ]]>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="user-phone" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>
					<![CDATA[ The origin of the bean. ]]>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:element name="customElementAzh" type="customElementAzh">
		<xsd:annotation>
			<xsd:documentation><![CDATA[ The service config ]]></xsd:documentation>
		</xsd:annotation>
	</xsd:element>

</xsd:schema>